@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 mb-4">
    <h1>Welcome to PausePoint!</h1>
    <p class="lead">PausePoint enhances your YouTube viewing experience by allowing you to save precise positions in videos.</p>
    <p>By creating checkpoints, or "PausePoints," you can effortlessly manage where you paused and easily resume watching without searching through the video.</p>

    <h2 class="mt-4 mb-4">Getting Started Is Easy:</h2>
    <div class="mb-4">
        <h5>Log In to Save</h5>
        <p>Simply  <a asp-area="Identity" asp-page="/Account/Login">log in</a> to start saving your progress. Whether you're watching educational courses, lengthy documentaries, or series, PausePoint helps you keep track of where you left off. Forget about jotting down timestamps or leaving comments under videos—use PausePoint to keep your video pauses neatly organized.</p>
    </div>

    <div class="mb-4">
        <h5>Access Your Saved PausePoints</h5>
        <p>Once logged in, all your PausePoints are conveniently listed under "Saved". Each entry displays a clickable timestamp, enabling you to resume watching your video directly from the exact moment you paused.</p>
    </div>
    
</div>